body{
    background: #f3f4f6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background: #fff;
    width: 380px;
    padding: 25px;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,1);
}
input, textarea, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button{
    background: #2563eb;
    color: #fff;
    cursor: pointer;
    height: 38px;

}

button:hover{
    background: #1d4ed8;
}